*,*::before,*::after{
    box-sizing: border-box;
}

body{
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:auto;
    padding:30px;
    width: 100%;
    height: 100%;
}

.container{
    background-color: #e9e9df;
    width:600px;
    padding:10px;
}

.header{
    margin:10px;
    height: 60px;
}
#head-logo{
    width:60px;
    height:60px;
}
#heading{
   width: 100%;
   font-family: roboto;
   font-weight: 600;
}
.inspireher{
    border-bottom:3px solid #6a2307 ;
}
#main-logo{
    width: 160px;
    height: 91.42px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.inner{
    background-color: white;
    text-align: left;
    padding-bottom: 80px;
    border-top:3px solid #6a2307;
    border-bottom:3px solid #6a2307;
}
.main{
    padding:10px;
}
#p2{
    float:left;
}
#p3{
    border-top:3px solid #6a2307;
    padding: 5px;
    padding-top:8px ;
}
#content-pic{
    width:200px;
    height:200px;
}
#foot-logo{
    text-align: center;
    width:100px;
    height:50px;
}
.text{
    font-family: roboto;
    font-weight:400;
}
.social-media{
    background-color: #6a2307;
    padding:5px;
    height: 35px;
}
.media{
    padding-right:50px;
    padding-left:50px;
}
a.media:link
{
   color: white;
   text-decoration: none;
}
a.media:visited
{
   color: white;
   text-decoration: none;
}
a.media:hover
{
   color: white;
   text-decoration: none;
}
a.media:active
{
   color: white;
   text-decoration: none;
}
